*{margin:0px auto;}
.sectionty{width:100%;height: 550px}
.first-cart{width: 30%;
height: 200px;

float: left;
margin-top: 48px;
margin-left: 37px;}
.first-cart a{text-decoration: none}
.produtc-image{width: 67%;
height: 257px;}
.elsry{color: #484848;}
.add-cart{background: #03a9f4;
color: #fff;
padding: 15px;
width: 34%;
margin-left: 0;
}
.produ-code{color:#666;}
.img{}
.face{}
.print{float:left;margin-left:20px;background: #03a9f4;color: #fff;padding: 11px;}
.nower{border:none;background: #03a9f4;color:#fff;font-size: 18px;}
.adderproduct{width: 98%;
height: 468px;}
.product-descrip{color:#4b4b4b;}














