*{margin:0px auto;}
.allproducts{width:100%;height:200px;margin-top: 17px;}
.singleproduct{width: 17%;
height: 365px;
float: left;
margin-left: 25px;
box-shadow: 1px 1px 1px 1px;
text-align: center;}
.electronic{width: 99%;
height: 197px;}
.product{width: 93%;
font-size: 12px;}
.price{color: #0eb4c1;
font-size: 17px;width: 27%;
margin-left: 9px;float: left}
.ptry{float: left;
color: #000000;
font-size: 10px;
line-height: 38px;
width: 41%;}
.view{font-size: 10px;
margin-left: 15px;
color: #fff;
background: #0eb4c1;
padding: 15px;

float: left;}
.deal{font-size: 22px;

margin-left: 35px;}







