*{margin:0px auto;}
.test{width:100%;height: 50px;background: red}
.header{width:100%;height:200px;height:auto;border-bottom:  1px solid #eeeeee; }
.banner{width: 100%;
height: 352px;}
.section{width: 100%;
height: auto}
.footer{width: 100%;
height: 250px;
border-top: 1px solid #eeeeee;}













